.homeBannar {
  width: 100% !important;
  height: 600px !important;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://d2v8elt324ukrb.cloudfront.net/static/new_template/media/Pimal2-1.2d5d237dbd32.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.bannarContent {
  width: 80%;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.bannerText {
  font-size: 32px;
}
.bannerFormBox {
  width: auto;
  display: flex !important;
  padding: 12px 24px;
  background-color: white;
  border-radius: 5px;
  gap: 2px;
}
.bannerInputLocation {
  border: 1px solid gray;
}
.searchResultBox{
  position: absolute;
  /* bottom: ; */
  width: 100% !important;
  border: 1px solid !important;
  color: black;
  background-color: white;
}
.searchDataResText{
  border-bottom: 1px solid lightgray;
  padding: 12px 14px;
}
.searchDataResText:hover{
  background-color: lightgray;
}
.bannerInputDate {
  background-color: white;
  border: 1px solid gray;
  color: #333;

  width: 500px;
}
.bannerInput {
  background-color: white;
  color: #333;
  width: 300px;
  padding: 12px 24px;
  border: 1px solid gray;
}

.bannerBtn {
  width: 500px !important;
  background-color: #1E87F0;
  color:white;
  border: none;
  padding: 0 12px;
  font-weight: 600;
}

@media screen and (max-width: 990px) {
     .bannarContent{
          width: 100% !important;
     }
  .bannerFormBox {
     background-color: white !important;
     width: 80% !important;
     margin: auto;
    flex-direction: column !important;
    gap: 4px;
    padding: 24px;
  }
  .bannerInput{
     width: 100% !important;
     border: 1px solid gray;
  }
}


/* TOP VACATIONS */

.slideBox{
     /* width: 200px; */
     height: 200px;
     position: relative;
}
.slideText{
     position: absolute;
     top: 0%;
     background-color: rgba(0, 0, 0, 0.6);
     color: white;
     text-align: center;
     padding-top:25% ;
     width: 100% !important;
     height:200px !important;
     
}
