.swiper-wrapper {
  padding: 24px 42px;
  margin: auto !important;
  justify-content: center;
}
.swiper {
  overflow: hidden;
}
.slick-slider {
  width: 80%;
  margin: auto;
}
.slick-track{
     display: flex;
     gap: 12px;
}
.slick-arrow{
     background-color: gray;
     color: white;
     border-radius: 50%;
}
.slick-arrow:hover{
     background-color: gray;
}
