
.font{
    font-family: 'Roboto',arial,helvetica,sans-serif;
    font-weight: 200;
    color: #494949;
}


.img-hover-zoom--slowmo img {
  transform-origin: 50% 65%;
  transition: transform 5s, filter 3s ease-in-out;
  filter: brightness(150%);
}

/* The Transformation */
.img-hover-zoom--slowmo:hover img {
  filter: brightness(100%);
  transform: scale(3);
}